body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    text-align: center;
}

hr {
    width: 45vw;
}

#page-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 95vh;
}
#content-wrap {
    padding-bottom: 5rem;
    width: 50vw;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5rem;
}