body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    text-align: center;
}

hr {
    width: 50%;
}

#page-container {
    position: relative;
    min-height: 95vh;
}
#content-wrap {
    padding-bottom: 5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}