body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    text-align: center;
}

hr {
    width: 50%;
}

#footer {
    position: absolute; 
    bottom: 30px; 
    width: 100%;
}